<web-app>

	<servlet>
		<servlet-name>ContextAttribute</servlet-name>
		<servlet-class>ContextAttribute</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ContextAttribute</servlet-name>
		<url-pattern>/contextattribute</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>context_param_name
		</param-name>
		<param-value>context_param_value
		</param-value>
	</context-param>

</web-app>
