<web-app>
	<servlet>
		<servlet-name>my</servlet-name>
		<jsp-file>init.jsp</jsp-file>	
		
		<init-param>
			<param-name> name </param-name>	
			<param-value> lalu loves rabari </param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name> my </servlet-name>
		<url-pattern> run </url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file> demo.jsp</welcome-file>
		<welcome-file> login.jsp</welcome-file>
	</welcome-file-list>
</web-app>