<web-app>
<servlet>
<servlet-name>DemoServlet</servlet-name>
<servlet-class>DemoServlet1</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>DemoServlet</servlet-name>
<url-pattern>/demo</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Send_Redirect</servlet-name>
<servlet-class>Send_Redirect</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>Send_Redirect</servlet-name>
<url-pattern>/sendredirect</url-pattern>
</servlet-mapping>



</web-app>