<web-app>

<servlet>
<servlet-name>MyFilterServlet</servlet-name>
<servlet-class>MyFilterServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>MyFilterServlet</servlet-name>
<url-pattern>/filter</url-pattern>
</servlet-mapping>

<filter>
<filter-name>MyFilter</filter-name>
<filter-class>MyFilter</filter-class>
</filter>

<filter-mapping>
<filter-name>MyFilter</filter-name>
<url-pattern>/filter</url-pattern>
</filter-mapping>

</web-app>